.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 25px 25px;
}

.logo img {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 55px;
}

.links {
    margin: 45px;
}

.links>a {
    color: black;
}

.icons {
    display: flex;
    align-items: center;
}

.icons>a {
    color: black;
    background-color: cornsilk;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}