.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ffffff;
}

.logo img {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 40px;
}

.links {
    margin: 40px;
}

.links>a {
    color: black;
}

.icons {
    display: flex;
    align-items: center;
}

.icons>a {
    color: black;
    background-color: cornsilk;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}