.home-advantages {
    width: 80%;
    margin: auto;
    background-color: #fff;
    position: relative;
    top: -120px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

<<<<<<< HEAD
=======
.adv-item {
    width: 22%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.adv-item img {
    width: 50px;
    height: 50px;
}

.adv-item h4 {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adv-item p {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}

>>>>>>> 6b6e377650089c09f71474d47d0543a9a146a0ca
.home-advantages .wrap {
    position: relative;
}

.home-advantages .wrap::after {
    content: '';
    position: absolute;
    background-color: #EAEAEA;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 2px;
    margin: auto;
}