.main-home {
    background-repeat: no-repeat;
    background-image: url(../../images/backgrounds/home-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 45%;
    height: 24%;
    opacity: 85%;
    position: absolute;
    margin-top: 20%;
    margin-left: 28%;
    /*top: 45%;
    left: 30%;*/
}

.text {
    color: white;
    text-align: center;
    position: relative;
    background-color: rgba(51, 51, 51, 0.9);
    width: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
}

.text::after {
    content: '';
    background-image: url(../../images/widgets/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
}

.text>p {
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
}

.text>h3 {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
}