.fb-icon {
    position: relative;
    top: 10%;
}

.team {
    margin-left: 10%;
    margin-right: 10%;
}

.template-item {
    width: 33%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.template-item img {
    width: 100%;
    height: auto;
    position: relative;
    margin-right: 1%;
}

.team-top>h3 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-top>p {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 6px;
}